.breadcrumbs li {
    display: inline;
    font-size: 12px;
    color: #656565;
    line-height: 18px;
}

.breadcrumbs li>a {
    color: #656565 !important;
    text-decoration: none;
}

.breadcrumbs li>a:hover {
    color: #575757;
    text-decoration: underline;
}

.breadcrumbs li>a::after {
    content: "|";
    color: #656565 !important;
    padding: 0 7px;
}

h3 {
    text-transform: uppercase;
}

