{% load static %}
<footer class="footer pt-3 mt-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="w-75">
            <img src="{% static 'website/assets/images/logo-footer.svg'%}" class="img-fluid pb-4" alt="">
            <div class="hotline p-0 pb-5">
              <p>CÔNG TY CỔ PHẦN THỜI TRANG KOWIL VIỆT NAM</p>
              <p>Hotline: 1900 8079</p>
              <p>8:30 - 19:00 tất cả các ngày trong tuần.</p>
            </div>
            <p><strong>VP Phía Bắc:</strong> Tầng 17 tòa nhà Viwaseen, 48 Phố Tố Hữu, Trung Văn, Nam Từ Liêm, Hà Nội.
            </p>
            <p><strong>VP Phía Nam:</strong> 186A Nam Kỳ Khởi Nghĩa, Phường Võ Thị Sáu, Quận 3, TP.HCM</p>
          </div>
        </div>

        <div class="col-md-2 mb-4">
          <h5>GIỚI THIỆU OWEN</h5>
          <ul class="list-unstyled">
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Hệ thống cửa hàng</a></li>
            <li><a href="#">Liên hệ với Owen</a></li>
            <li><a href="#">Chính sách bảo mật</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-4">
          <h5>HỖ TRỢ KHÁCH HÀNG</h5>
          <ul class="list-unstyled">
            <li><a href="#">Hỏi đáp</a></li>
            <li><a href="#">Chính sách vận chuyển</a></li>
            <li><a href="#">Hướng dẫn chọn kích cỡ</a></li>
            <li><a href="#">Hướng dẫn thanh toán</a></li>
            <li><a href="#">Quy định đổi hàng</a></li>
            <li><a href="#">Hướng dẫn mua hàng</a></li>
          </ul>
        </div>

        <div class="col-md-3 mb-4">
          <h5>KẾT NỐI</h5>
          <a href="#" class="me-2"><i class="bi bi-facebook"></i></a>
          <a href="#" class="me-2"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-youtube"></i></a>

          <h5 class="mt-4">PHƯƠNG THỨC THANH TOÁN</h5>
          <img src="{% static 'website/assets/images/pay.webp'%}" alt="Visa" class="img-fluid" />
          <div class="mt-4">
            <img src="{% static 'website/assets/images/vertify.webp'%}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="footer-bottom py-2">
        <div class="text-start">
          <p class="mb-0"> <strong>© 2020 by Kowil Fashion -</strong> Phú Thái Holdings</p>
        </div>
      </div>
    </div>
  </footer>