{% extends "website/base.html" %}
{% load static %}

{% block styles_rieng %} 
  <link rel="stylesheet" href="{% static "website/css/chi_tiet_san_pham.css" %}">
  <link rel="stylesheet" href="{% static "website/css/ao.css" %}">
{% endblock styles_rieng %}
{% block title %} Áo Nam Đẹp, Thiết Kế Thanh Lịch, Chất Liệu Cao Cấp - OWEN {% endblock title %}

{% block content %}
  <main class="content">
    <div class="container-fuild">
      <div class="pt-5 mt-5">
        <div class="breadcrumbs ps-4">
          <ul class="list-unstyled list-group-horizontal d-flex">
            <li><a href="{% url 'home' %}">Trang chủ</a></li>
            <li>Áo</li>
          </ul>
        </div>
      </div>
      <div class="banner">
        <img src=" {% static "website/assets/images/4546_x_1000_ao_1.jpg" %} " style="width: 100%; object-fit: cover;" alt="">
        <div class="banner-text">
          <h1>Áo OWEN Nam </h1>
          <p>Áo Owen nam đẹp, kiểu dáng thanh lịch cùng chất liệu cao cấp sẽ giúp bạn xây dựng phong cách lịch lãm, thu
            hút mọi ánh nhìn.</p>
        </div>
      </div>
    </div>
    <div class="container-fuild">
      <div class="row mx-3">
        <div class="col-md-2">
          <div class="sidebar">
            <ul class="list-group ps-3">
              <li class="list-group-item"><a href="">
                  <h5>HÀNG MỚI VỀ</h5>
                </a></li>
              <li class="list-group-item"><a href=""><strong>BỘ SƯU TẬP</strong></li>
              <ul class="list-group pb-3">
                <li class="list-group-item"><a href="">KAIZEN</a></li>
                <li class="list-group-item"><a href="">BE CONFIDENT </a></li>
                <li class="list-group-item"><a href="">INNER RISE</a></li>
                <li class="list-group-item"><a href="">INSPIRED BY THE CITY </a></li>
                <li class="list-group-item"><a href="">JOY THE BEAT</a></li>
                <li class="list-group-item"><a href="">BST BẠC HÀ</a></li>
                <li class="list-group-item"><a href="">RENU</a></li>
              </ul>
              <li class="list-group-item"><a href="">
                  <h5>BST Retro vacation </h5>
                </a></li>
              <li class="list-group-item"><a href=""><strong>GIÁ TỐT</strong></li>
              <ul class="list-group pb-3">
                <li class="list-group-item"><a href="">Polo - Tshirt </a></li>
                <li class="list-group-item"><a href="">Quần giá tốt</a></li>
                <li class="list-group-item"><a href="">Áo sơ mi</a></li>
              </ul>
              <li class="list-group-item"><a href="">
                  <h5>Áo polo cafe</h5>
                </a></li>
              <li class="list-group-item"><a href=""><strong>ÁO</strong></li>
              <ul class="list-group pb-3">
                <li class="list-group-item"><a href="">Áo Polo</a></li>
                <li class="list-group-item"><a href="">Áo Sơ Mi</a></li>
                <li class="list-group-item"><a href="">Áo T-Shirt</a></li>
                <li class="list-group-item"><a href="">Áo Blazer</a></li>
                <li class="list-group-item"><a href="">Áo Veston</a></li>
                <li class="list-group-item"><a href="">Áo Jacket</a></li>
                <li class="list-group-item"><a href="">Áo Len</a></li>
                <li class="list-group-item"><a href="">Sơ Mi Cao Cấp</a></li>
                <li class="list-group-item"><a href="">Áo Hoodie</a></li>
                <li class="list-group-item"><a href="">Áo Thun</a></li>
                <li class="list-group-item"><a href="">Áo Blazer</a></li>
              </ul>
              <li class="list-group-item"><a href=""><strong>QUẦN</strong></li>
              <ul class="list-group pb-3">
                <li class="list-group-item"><a href="">Quần Short</a></li>
                <li class="list-group-item"><a href="">Quần Tây</a></li>
                <li class="list-group-item"><a href="">Quần Khaki</a></li>
                <li class="list-group-item"><a href="">Quần Jeans</a></li>
                <li class="list-group-item"><a href="">Quần Jogger</a></li>
              </ul>
              <li class="list-group-item"><a href=""><strong>PHỤ KIỆN</strong></li>
              <ul class="list-group pb-3">
                <li class="list-group-item"><a href="">Đồ lót</a></li>
                <li class="list-group-item"><a href="">Tất</a></li>
                <li class="list-group-item"><a href="">Dây Lưng</a></li>
                <li class="list-group-item"><a href="">Ví Da</a></li>
                <li class="list-group-item"><a href="">Cà Vạt</a></li>
              </ul>
              <!-- <li class="list-group-item"><a href=""><strong>SẢN PHẨM BÁN CHẠY</span></strong></li> -->
          </div>
        </div>
        <div class="col-md-10">
          <div class="row" id="product-list">
            {% comment %} load san pham {% endcomment %}
            {% for sp in danh_sach_san_pham_ao %}
            <div class="col-6 col-sm-6 col-md-4 mb-4">
              <div class="card" style="width: 100%">
                <a href="{% url 'chi_tiet_san_pham_ao' sp.duong_dan %}">
                  <img src="{{ sp.hinh_anh.url }}" class="card-img-top" alt="{{ sp.ten }}" />
                </a>
                <div class="card-body">
                  <a href="{% url "chi_tiet_san_pham_ao" sp.duong_dan %}" class="btn w-50 btn-secondary">MUA NGAY</a>
                  <p class="card-text text-secondary">{{ sp.ten }}</p>
                  <span>{{sp.gia}} ₫</span>
                </div>
              </div>
            </div>
            {% empty %}
            <p>Chưa có sản phẩm nào!</p>
            {% endfor %}
          </div>
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous" onclick="prevPage()">
                  <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#" onclick="changePage(1)">1</a></li>
              <li class="page-item"><a class="page-link" href="#" onclick="changePage(2)">2</a></li>
              <li class="page-item"><a class="page-link" href="#" onclick="changePage(3)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" onclick="nextPage()">
                  <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </main>

{% block scripts_rieng %} 
  <script src="{% static "website/js/ao.js" %}"></script>
{% endblock scripts_rieng %}
{% endblock content %}